# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env

# Build and cache folders
dist/
build/
.cache/

# IDE-specific files
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db
